* text=auto
*.cs diff=csharp text
*.shader text
*.meta text
*.unity text
*.asset text
*.prefab text
*.asmdef text
*.json text
*.md text
*.yaml text
*.yml text
*.py text
*.sh text
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.wav binary
*.mp3 binary
*.ttf binary
*.zip binary
*.tar.gz binary
*.apk binary
